main {
    padding-left: 82px;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    font-size: 16px;
}

button.addBtn {
    background-color: var(--primary-orange);
    border-radius: 20px;
    min-width: 15px;
    padding: 4px;
    font-size: 12px;
}

.atividades {
    width: 100%;
    min-height: 290px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h2{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 40px 0;
}

h2 button,
.acoes button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    max-width: 650px;

}

.filtros button {
    position: relative;
    padding: 5px 30px;
}

/* Linha + bolinhas do botão ativo */
.filtros button.ativo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 10px;

    background-image:
            radial-gradient(circle, var(--primary-orange) 4px, transparent 4px),
            radial-gradient(circle, var(--primary-orange) 4px, transparent 4px),
            linear-gradient(var(--primary-orange), var(--primary-orange));

    background-position:
            left center,
            right center,
            center;

    background-repeat: no-repeat;

    background-size:
            8px 8px,
            8px 8px,
            calc(100% - 16px) 2px;


}

.lista-atividades {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.atividade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    max-height: 60px;
    cursor: pointer;
}

.conteudo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

.conteudo i {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: var(--primary-orange);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acoes {
    display: flex;
    align-items: center;
    gap: 28px;
}

.acoes span {
    background-color: #ffae4c67;
    border-radius: 100px;
    color: var(--text-black);
    font-size: 12px;
    font-weight: 600;
    padding: 3px 18px;
}

.acoes button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-atividade {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label[for="atividade-nome"] {
    margin-top: 10px;
}

.prazo-inputs {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex-wrap: wrap;
}


.modal-actions:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 35px;
}

.fa-circle-check {
    color: var(--success-green);;
}