main {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 6rem;
    padding-right: 6rem;
}

#calendar-header {
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#calendar-header {
    margin-bottom: 45px;
}

.aviso {
    background: white;
    color: var(--warning-orange);
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 45px;
    border: 1px solid #ffeeba;
    width: 600px;
    max-width: 600px;
}

#calendar {
    width: 600px;
    margin: 20px 0;

}

.fc {

    --fc-page-bg-color: white;
    --fc-neutral-bg-color: white;
    --fc-border-color: #ececec;

    --fc-button-text-color: white;
    --fc-button-bg-color: var(--primary-orange);
    --fc-button-border-color: var(--primary-orange);

    --fc-button-hover-bg-color: transparent;
    --fc-button-hover-border-color: transparent;

    --fc-button-active-bg-color: var(--primary-dark);
    --fc-button-active-border-color: var(--primary-dark);

    --fc-today-bg-color: rgb(255 224 153 / 60%);

    font-size: 0.9rem;
    background-color: white;
    border-radius: 10px;
}

.fc-event {
    border-radius: 15px;
    border: none;
    font-size: 12px;
    font-weight: 500;
}

.fc-h-event .fc-event-main {
    padding: 0 10px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-start {
    margin-left: 3px;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    margin: 0 3px;
}

.fc-direction-ltr .fc-daygrid-block-event:not(.fc-event-end),
.fc-direction-rtl .fc-daygrid-block-event:not(.fc-event-start) {
    margin: 0 3px;
}

/* Header superior */
.fc .fc-toolbar.fc-header-toolbar {
    background: var(--primary-orange);
    padding: 14px 40px;
    border-radius: 16px 16px 0 0;
    margin-bottom: 0;
}


/* título mês */
.fc .fc-toolbar-title {
    color: white;
    font-weight: 600;
}


/* botões prev next today */
.fc .fc-button {
    border-radius: 10px !important;
    box-shadow: none !important;
    padding: 8px 12px;
    font-weight: 500;

}

.fc .fc-button-group > .fc-button.fc-button-active,
.fc .fc-button-group > .fc-button:active,
.fc .fc-button-group > .fc-button:focus,
.fc .fc-button-group > .fc-button:hover {
    background-color: rgb(227 122 0 / 0.49);
    border:none;
}

.fc .fc-today-button.fc-button.fc-button-primary {
    font-size: 1rem;
    background-color: rgb(227 122 0 / 0.89);
    margin: auto;
}

.fc .fc-today-button.fc-button.fc-button-primary,
.fc-next-button.fc-button.fc-button-primary,
.fc-prev-button.fc-button.fc-button-primary{
    padding: 3px;
}

.fc-toolbar-chunk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fc .fc-button-group {
    gap: 10px;
}
    /* header dias da semana */
.fc .fc-col-header-cell {
    background: white;
}

.fc .fc-col-header-cell-cushion {
    color: #555;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 0;
}

/* números do dia */
.fc .fc-daygrid-day-number {
    color: #333;
    text-decoration: none;
    padding: 8px;
}

/* células */
.fc-theme-standard td,
.fc-theme-standard th {
    border-color: #efefef;
}

/* hover suave */
.fc-daygrid-day:hover {
    background: #fafafa;
}

